<footer>
  <div class="top-footer">
    <p>John Doe .</p>
  </div>
  <div class="middle-footer">
    <ul class="footer-menu">
      <li class="footer_menu_list">
        <a href="#home">Home</a>
      </li>
      <li class="footer_menu_list">
        <a href="#about">About</a>
      </li>
      <li class="footer_menu_list">
        <a href="#projects">Projects</a>
      </li>
      <li class="footer_menu_list">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="footer-social-icons">
    <div class="icon"><i class="uil uil-instagram"></i></div>
    <div class="icon"><i class="uil uil-linkedin-alt"></i></div>
    <div class="icon"><i class="uil uil-dribbble"></i></div>
    <div class="icon"><i class="uil uil-github-alt"></i></div>
  </div>
  <div class="footer-bottom">
    <span>&#169;JohnDoe 2023</span>
  </div>
</footer>
